In [1]:
import pandas as pd

In [2]:
# import CSV

df = pd.read_csv('Cricket_DataCleaning.csv')

In [3]:
# display first 5 rows from the data

df.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1

In [4]:
# Rename Multiple Columns in a list

df = df.rename(columns = {'Mat':'Matches' ,'NO':'Not_Outs', 'HS':'Highest_Inns_Score', 'BF':'Balls_Faced', 'SR':'Strike_Rate'})

In [5]:
# show new columns names

df.head(3)

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5

In [6]:
# Check Null Values 

df.isnull().any()

Player                False
Span                  False
Matches               False
Inns                  False
Not_Outs              False
Runs                  False
Highest_Inns_Score    False
Ave                   False
Balls_Faced            True
Strike_Rate            True
100                   False
50                    False
0                     False
4s                    False
6s                    False
dtype: bool

In [7]:
# replace missing values in column 'Balls Faced' with 0

df['Balls_Faced'] = df['Balls_Faced'].fillna(0)

In [8]:
# replace missing values in column 'Strike Rate' with 0

df['Strike_Rate'] = df['Strike_Rate'].fillna(0)

In [9]:
df.isnull().sum()

Player                0
Span                  0
Matches               0
Inns                  0
Not_Outs              0
Runs                  0
Highest_Inns_Score    0
Ave                   0
Balls_Faced           0
Strike_Rate           0
100                   0
50                    0
0                     0
4s                    0
6s                    0
dtype: int64

In [10]:
# Check duplicated values

df.duplicated().any()

True

In [13]:
# Drop duplicated Values

df = df.drop_duplicates()

In [48]:
# Done removing duplicates

df.duplicated().any()

False

In [15]:
# Split 'Span' Column into Start and End Date 

df['Span']

0     1928-1948
1     2022-2023
2     2015-2016
3     1963-1970
4     1930-1954
        ...
61    1965-1981
62    2002-2014
63    1924-1934
64    1930-1938
65    1928-1934
Name: Span, Length: 62, dtype: object

In [16]:
df['Span'].str.split(pat= '-')

0     [1928, 1948]
1     [2022, 2023]
2     [2015, 2016]
3     [1963, 1970]
4     [1930, 1954]
          ...
61    [1965, 1981]
62    [2002, 2014]
63    [1924, 1934]
64    [1930, 1938]
65    [1928, 1934]
Name: Span, Length: 62, dtype: object

In [17]:
# create new column for Rookie year

df['Rookie-Year'] = df['Span'].str.split(pat= '-').str[0] # here i asigned the value BEFORE '-' from Span to Rookie-Year column

In [18]:
# create new column for Final year

df['Final-Year'] = df['Span'].str.split(pat= '-').str[1] # here i asigned the value AFTER '-' from Span to Final-Year column

In [19]:
# Check the new columns

df.head()

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie-Year,Final-Year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954

In [20]:
# Drop span column

df = df.drop(['Span'], axis = 1)

In [21]:
df.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie-Year,Final-Year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954

In [23]:
# Split country from Player column & create new column for Country

df['Country'] = df['Player'].str.split(pat= '(').str[1] # this code for asigning the country from Player column to Country Col

In [24]:
df['Country']

0        AUS)
1        ENG)
2        AUS)
3         SA)
4         WI)
       ...
61       AUS)
62    ICC/SA)
63       AUS)
64       AUS)
65       ENG)
Name: Country, Length: 62, dtype: object

In [25]:
df['Country'] = df['Country'].str.split(pat= ')').str[0] # Remove ')' after Country Name

In [26]:
df['Country'] # Done :)

0        AUS
1        ENG
2        AUS
3         SA
4         WI
       ...
61       AUS
62    ICC/SA
63       AUS
64       AUS
65       ENG
Name: Country, Length: 62, dtype: object

In [27]:
# Remove Country name from Player Column

df['Player'] = df['Player'].str.split(pat = '(').str[0]

In [28]:
df['Player']

0      DG Bradman
1        HC Brook
2        AC Voges
3      RG Pollock
4      GA Headley
          ...
61     KD Walters
62       GC Smith
63    WH Ponsford
64      SJ McCabe
65     DR Jardine
Name: Player, Length: 62, dtype: object

In [30]:
df['Highest_Inns_Score'] = df['Highest_Inns_Score'].str.split(pat = '*').str[0] # Removing the * after the values

In [38]:
df['Matches'] = df['Matches'].str.split(pat = '*').str[0] # Same here removing * after matches values

In [41]:
df['Balls_Faced'] = df['Balls_Faced'].str.split(pat = '+').str[0] # Same as before

In [29]:
# Check Columns DataTypes

df.dtypes

Player                 object
Matches                object
Inns                    int64
Not_Outs                int64
Runs                    int64
Highest_Inns_Score     object
Ave                   float64
Balls_Faced            object
Strike_Rate           float64
100                     int64
50                      int64
0                       int64
4s                      int64
6s                      int64
Rookie-Year            object
Final-Year             object
Country                object
dtype: object

In [35]:
#Change data type of 'Highest_Inns_Score' Column to int

df['Highest_Inns_Score'] = df['Highest_Inns_Score'].astype(int)

In [36]:
# Change many columns to the right DataType

df = df.astype({'Rookie-Year':'int','Final-Year':'int'})

In [39]:
df['Matches'] = df['Matches'].astype('int')

In [44]:
df['Balls_Faced'] = df['Balls_Faced'].astype('int')

In [46]:
df['Strike_Rate'] = df['Strike_Rate'].astype('float')

In [47]:
df.dtypes

Player                 object
Matches                 int32
Inns                    int64
Not_Outs                int64
Runs                    int64
Highest_Inns_Score      int32
Ave                   float64
Balls_Faced             int32
Strike_Rate           float64
100                     int64
50                      int64
0                       int64
4s                      int64
6s                      int64
Rookie-Year             int32
Final-Year              int32
Country                object
dtype: object

In [ ]:
# Calculations

In [51]:
# Create new column for checking career lengh

df['career_length'] = df['Final-Year'] - df['Rookie-Year']

In [53]:
#Q1: Calculate the average of players career lengh
df['career_length'].mean()

13.14516129032258

In [54]:
#Q2: AVG Batting_Strike_Rate for cricketers who played over 10 years

df[df['career_length']>10]['Strike_Rate'].mean()

47.95454545454545

In [58]:
#Q3: find the number of cricketers who played before 1960

df[df['Rookie-Year'] < 1960]['Player'].count()

23

In [62]:
#Q4: Max Highest Inns Score by Country

df.groupby('Country')['Highest_Inns_Score'].max().to_frame('Highest_Countries').reset_index().sort_values('Highest_Countries', ascending = False)

    Country  Highest_Countries
5    ICC/WI                400
0       AUS                380
10       SL                374
11       WI                365
1       ENG                364
3   ICC/PAK                329
2   ICC/IND                319
8       PAK                313
9        SA                278
4    ICC/SA                277
6       IND                254
7        NZ                251
12      ZIM                232

In [63]:
#Q5: Hundreds, Fifties, Ducks (0) AVG by Country (AVG Numbers of Points scored by players for each country)

df.groupby('Country')[['100','50','0']].mean()

               100         50          0
Country
AUS      20.625000  28.125000   8.500000
ENG      12.307692  20.769231   4.307692
ICC/IND  29.500000  47.500000  12.000000
ICC/PAK  25.000000  46.000000  15.000000
ICC/SA   36.000000  48.000000  13.500000
ICC/WI   34.000000  48.000000  17.000000
IND      29.500000  36.500000  10.750000
NZ       17.000000  21.000000   5.500000
PAK      21.250000  28.000000   9.500000
SA        9.800000  20.200000   3.400000
SL       28.666667  44.000000  12.333333
WI       16.625000  25.625000   7.250000
ZIM      12.000000  27.000000   5.000000

# Conclusion:

In conclusion, this project focused on a thorough analysis and enhancement of cricket player statistics. The primary objectives were successfully achieved through meticulous steps:

Data Cleaning: The dataset, obtained from ESPNcricinfo, underwent a comprehensive cleaning process. Missing values were addressed, duplicates were removed, and data formats were standardized.

Data Transformation: Key columns, including 'Rookie-Year,' 'Final-Year,' 'Matches,' 'Balls_Faced,' and 'Strike_Rate,' were transformed into their respective data types, ensuring accurate analysis.

Statistical Analysis: Various statistical calculations were applied to extract insights into player performance. This included determining the average career length and batting strike rates for players with over 10 years of experience.

The project's conclusion marks the attainment of a clean, well-structured dataset, devoid of errors and inconsistencies. By transforming the data into appropriate types, the groundwork has been laid for meaningful and reliable analysis in the realm of cricket player statistics.